<h1>Add your workout:</h1>

<div class="col-md-4">
  <div class="form-group">
    <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
    <div class="col-xs-10">
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
    </div>
  </div>
</div>
