<div class="jumbotron text-xs-center">
  <h1 class="display-3">Brah, Do You Even Lift?</h1>
  <p class="lead">An easy and quick way to keep track of all of your workouts and the exercises that go into making you a more awesome person.</p>
  <p>
    <%= button_to "Go to Workouts", workouts_path, class:"btn btn-secondary" %>
  </p>
</div>
