<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">DYEL</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item"><a class="nav-link" href="#">Workouts</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">Add Workout</a></li>
      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
    </ul>
  </div><!-- /.container -->
</nav><!-- /.navbar -->
