<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">DYEL</a>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          Welcome <%= current_user.username %>!
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, class:"nav-link", :method => 'delete' %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <%= navbar_links %>
    </ul>
  </div><!-- /.container -->
</nav><!-- /.navbar -->
